<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kakaopay.investing.mapper.ProductMapper">

	<select id="selectAllProducts" resultType="Product">
	<![CDATA[
	SELECT p.product_id
	      ,p.title
	      ,p.total_investing_amount
	      ,p.current_investing_amount
	      ,(SELECT COUNT (DISTINCT i.customer_id)
              FROM investment_transaction i
             WHERE i.product_id = p.product_id AND i.result_code = '0000') investor_count
	      ,p.status
	      ,FORMATDATETIME(p.started_at, 'yyyy-MM-dd HH:mm:dd') started_at
	      ,FORMATDATETIME(p.finished_at, 'yyyy-MM-dd HH:mm:dd') finished_at
	      ,p.last_tid
	 FROM product p
	WHERE CURRENT_TIMESTAMP >= p.started_at 
      AND CURRENT_TIMESTAMP <= p.finished_at
	]]>
	</select>

	<select id="selectProduct" resultType="Product">
	<![CDATA[
	SELECT product_id
	      ,title
	      ,total_investing_amount
	      ,current_investing_amount
	      ,status
	      ,FORMATDATETIME(started_at, 'yyyy-MM-dd HH:mm:dd') started_at
	      ,FORMATDATETIME(finished_at, 'yyyy-MM-dd HH:mm:dd') finished_at
	      ,last_tid
	FROM product
	WHERE product_id = #{productId}
	]]>
  	<if test="lastTid != '' and lastTid != null">
	WHERE last_tid = #{lastTid}
  	</if>
	</select>

	<update id="updateProduct" parameterType="Product">
	UPDATE product 
	SET current_investing_amount = current_investing_amount  + #{investingAmount}
	   ,status=CASEWHEN(current_investing_amount  + #{investingAmount} <![CDATA[<]]> total_investing_amount, 'PROCEEDING', 'COMPLETED')
	   ,last_tid = #{lastTid}
	WHERE product_id = #{productId}
	AND total_investing_amount <![CDATA[>=]]> current_investing_amount  + #{investingAmount}
	</update>
	
</mapper>
